.Header__ {
  width: 100%;
  background-image: url('../assets/headerBackground.jpg');
  box-shadow: inset 0 0 0 1000px rgba(38, 44, 64, .9);
}

.Header__ .Header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
  max-width: 1800px;
  margin: auto;
}

.Header__ img, .Header__  .content {
  padding: 25px;
}

.Header__ .content {
  max-width: 500px;
  margin-bottom: 50px;
}

.Header__ h1 {
  color: #F5F5F5;
  margin-bottom: 50px;
}

.Header__ img {
  min-width: 10px;
}

.Header__ a {
  text-decoration: none;
}