.Login__ {
  background-color: #262C40;
  padding: 0 0 100px 0;
}

.Login__Logo {
  padding: 30px 0;
}

.Login__Logo img {
  display: block;
  margin: auto;
  max-width: 90%;
  max-height: 80px;
}

.Login__container {
  max-width: 500px;
  margin: auto;
  background-color: #F5F5F5;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.Login__container h1 {
  margin: 0;
  font-weight: 400;
  text-align: center;
  padding-bottom: 20px;
}

.Login__container input[type="button"] {
  margin-top: 30px;
}

.Login__ a {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  color: ;
}

@media (max-width: 500px) {
  .Login__container {
    width: 100%;
    border-radius: 0;
    box-shadow: none;

  }
}